<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student List</h2>
<a href="{% url 'student_create' %}">Add Student</a>
<ul>
  {% for student in students %}
    <li>
      {% if student.photo %}
        <img src="{{ student.photo.url }}" width="50" height="50" />
      {% endif %}
      {{ student.name }} - {{ student.age }} - {{ student.email }}
      <a href="{% url 'student_update' student.pk %}">Edit</a>
      <a href="{% url 'student_delete' student.pk %}">Delete</a>
    </li>
  {% endfor %}
</ul>
</body>
</html>